.achievement-help {
  background-color: #f2f2f2;
  padding-top: 58px;
}

.achievement {
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 42px;
}

.achievement-legend {
  color: #d22856;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.achievement-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.achievement-item {
  font-size: 18px;
  line-height: 30px;
}
