.achievement {
  background-color: #f2f2f2;
  border: none;
  padding-bottom: 42px;
  width: 254px;
  @media (min-width: 660px) {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    width: 546px;
    padding-left: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 960px) {
    width: 820px;
    margin: 0;
    padding-right: 60px;
  }
}

.achievement__legend {
  color: #d22856;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 222px;
  padding-bottom: 20px;
  @media (min-width: 660px) {
    line-height: 30px;
    width: 434px;
    padding: 0;
  }
}

.achievement__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.achievement__item {
  font-size: 18px;
  line-height: 30px;
}
