.advantages {
  color: #000000;
  background-color: #f2f2f2;
}

.advantages__help {
  @media (min-width: 660px) {
    width: 620px;
    padding: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 960px) {
    display: flex;
    width: 940px;
    padding-top: 255px;
  }
}

.advantages__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  background-color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-left: 58px;
  padding-right: 58px;
  @media (min-width: 660px) {
    font-size: 40px;
    line-height: 45px;
  }
  @media (min-width: 960px) {
    font-size: 50px;
    line-height: 55px;
  }

  &--first {
    padding-top: 45px;
    @media (min-width: 660px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--second {
    padding-top: 40px;
    padding-bottom: 70px;
    @media (min-width: 660px) {
      padding-top: 0;
      margin-left: auto;
      margin-right: auto;
      width: 330px;
    }
    @media (min-width: 960px) {
      width: 430px;
    }
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  background-color: #f2f2f2;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;

  &--first {
    padding-top: 54px;
  }
}

.advantages__description {
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  background-color: #f2f2f2;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;

  &--last {
    padding-bottom: 322px;
    @media (min-width: 660px) {
      padding-bottom: 44px;
    }

  }
}

.advantages__part {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 660px) {
    padding-left: 310px;
  }
  @media (min-width: 960px) {
    padding-left: 0px;
  }
}

.advantages__part--3 {
  position: relative;
}

.advantages__part--3::after {
  position: absolute;
  content: "";
  background-image: url(../../img/iphone-screen-mobile@1x.png);
  height: 280px;
  width: 165px;
  background-repeat: no-repeat;
  bottom: 0;
  left: 60px;
  @media (min-width: 660px) {
    transform: scale(2); //качество ужасное, это нормально?
    top: 100px; //не поднимается наверх
  }
  @media (min-width: 660px) {
    transform: scale(1);
    top: -280px;
  }
}
