.advantages {
  color: #000000;
  background-color: #f2f2f2;
}

.advantages__help {
  position: relative;

  @media (min-width: 660px) {
    width: 620px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 960px) {
    display: flex;
    width: 940px;
    padding-top: 310px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &::before {
    //почему не появляется?
    position: absolute;
    content: "";
    background-image: url("../../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    top: 0;
  }
}

.advantages__help-text {
  background-color: #ffffff;
}

.advantages__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  background-color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-left: 58px;
  padding-right: 58px;

  @media (min-width: 660px) {
    font-size: 40px;
    line-height: 45px;
  }

  @media (min-width: 960px) {
    font-size: 50px;
    line-height: 55px;
  }

  &--first {
    padding-top: 45px;

    @media (min-width: 660px) {
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: 960px) {
      padding-top: 70px;
    }
  }

  &--second {
    padding-top: 40px;
    padding-bottom: 70px;

    @media (min-width: 660px) {
      padding-top: 0;
      margin-left: auto;
      margin-right: auto;
      width: 330px;
    }

    @media (min-width: 960px) {
      padding-top: 5px;
      width: 430px;
    }
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  background-color: #f2f2f2;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: 960px) {
    font-size: 30px;
    padding-left: 20px;
    padding-bottom: 22px;
    padding-top: 58px;
    line-height: 31px;
  }
}

.advantages__description {
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  background-color: #f2f2f2;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;

  &--last {
    padding-bottom: 322px;

    @media (min-width: 660px) {
      padding-bottom: 44px;
    }
  }

  @media (min-width: 960px) {
    padding-left: 0;
    padding-right: 0;
    line-height: 31px;
  }
}

.advantages__part {
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    padding-left: 310px;
  }

  @media (min-width: 960px) {
    padding-left: 0;
    width: 242px;
  }
}

.advantages__part--3 {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../img/iphone-screen-mobile@1x.png");
    height: 280px;
    width: 158px;
    background-repeat: no-repeat;
    bottom: 0;
    left: 61px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../../img/iphone-screen-mobile@2x.png");
    }
  }

  @media (min-width: 960px) {
    width: 272px;


  }
}
