.connection {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 44px;
  padding-bottom: 16px;

  @media (min-width: 660px) {
    padding-top: 45px;
    padding-bottom: 20px;
  }

  @media (min-width: 960px) {
    padding-top: 70px;
    padding-bottom: 10px;
  }
}

.connection__text {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  text-align: center;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    width: 375px;
    margin-bottom: 40px;
  }

  @media (min-width: 960px) {
    font-size: 50px;
    line-height: 55px;
    width: 464px;
    margin-bottom: 60px;
  }
}

.connection__contacts {
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    display: flex;
    width: 620px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (min-width: 960px) {
    width: 940px;
    justify-content: space-around;
  }
}

.connection__box {
  @media (min-width: 660px) {
    width: 240px;
  }

  &--telephone {
    @media (min-width: 960px) {
      order: 1;
    }
  }

  &--mail {
    @media (min-width: 960px) {
      order: 3;
    }
  }

  &--adress {
    @media (min-width: 960px) {
      order: 2;
    }
  }
}

.connection__contact-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: 660px) {
    margin-bottom: 10px;
  }
}

.connection__contact-info {
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  color: #d22856;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  margin-top: 5px;
  text-align: center;

  &:hover,
  &:focus {
    color: #283645;
    text-decoration: underline;
  }

  &:active {
    opacify: 0.3;
    text-decoration: none;
  }

  @media (min-width: 660px) {
    margin-bottom: 50px;
  }

  @media (min-width: 960px) {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.connection__box--adress .connection__contact-info {
  @media (min-width: 660px) {
    margin-bottom: 10px;
  }
}
