.connection {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 48px;
}

.connection__contacts {
  @media (min-width: 660px) {
    display: flex;
    width: 620px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 960px) {
    width: 960px;
    justify-content: space-between;
    //не понимаю почему блок с почтой выходит за рамки
  }
}

.connection__box {
  @media (min-width: 660px) {
    width: 240px;
  }

  &--telephone {
    @media (min-width: 960px) {
      order: 1;
    }
  }

  &--mail {
    @media (min-width: 960px) {
      order: 3;
    }
  }

  &--adress {
    @media (min-width: 960px) {
      order: 2;
    }
  }
}

.connection__text {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  text-align: center;

  @media (min-width: 660px) {
    font-size: 40px;
    line-height: 50px;
    width: 375px;
    margin-left: auto;
    margin-right: auto; //опять не помещается
  }
}

.connection__contact-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.connection__contact-info {
  font-weight: 200;
  font-size: 24px;
  line-height: 26px;
  color: #d22856;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
}
