.contact {
  box-sizing: border-box;
  background-color: #ffffff;
  border: none;
  margin: 0;
  padding: 0;
  align-self: center;
  padding-top: 25px;
  padding-bottom: 28px;

  @media (min-width: 660px) {
    border: 1px solid #e5e5e5;
    order: 3;
    width: 620px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
  }

  @media (min-width: 960px) {
    padding-left: 60px;
    padding-right: 60px;
    width: 940px;
  }
}

.contact__legend {
  display: none;
  color: #d22856;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 660px) {
    display: block;
    width: 260px;
    margin-bottom: 20px;
  }
}

.contact__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 660px) {
    padding-top: 12px;
  }

  @media (min-width: 960px) {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.contact__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;

  @media (min-width: 660px) {
    margin-bottom: 26px;
  }

  @media (min-width: 960px) {
    margin-bottom: 10px;
  }
}

.contact__label {
  color: #d22856;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 0;
  padding-bottom: 5px;

  align-self: flex-start;

  @media (min-width: 660px) {
    padding-left: 80px;
    order: 1;
  }

  @media (min-width: 960px) {
    padding-left: 20px;
    order: 1;
  }
}

.contact__input {
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  font-size: 18px;
  line-height: 20px;
  width: 280px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  flex-grow: 1;

  &:hover {
    border: 1px solid #000000;
  }

  &:focus {
    outline: none;
    border: 1px solid #d22856;
  }

  @media (min-width: 660px) {
    width: 500px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
    padding-bottom: 18px;
  }

  @media (min-width: 960px) {
    width: 375px;
    margin-left: 0;
    margin-right: 0;
  }
}
