.download {
  background-color: #1d2631;
  color: #ffffff;
  padding-bottom: 34px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
}

.download__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.download__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

.download__img {
  &--ios {
    background-image: url(../img/logo-apple.svg);
  }

  &--android {
    background-image: url(../img/logo-android.svg);
  }

  &--windows {
    background-image: url(../img/logo-microsoft.svg);
  }
}
