.effect {
  display: none;

  @media (min-width: 660px) {
    display: block;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f2f2f2; //откуда взялась белая полоса между блоками?
  }
}

.effect__help {
  margin-left: auto;
  margin-right: auto;
  padding-left: 320px;
  width: 310px;
  position: relative;

  ::after { //я псевдо элемент ставлю этому классу, а он добавляется дочерним элементам. как так?
    position: absolute;
    content: "";
    background-image: url("../../img/icon-timer.svg");
    width: 310px;
    height: 350px;
    left: 0;
    background-repeat: no-repeat;
  }

  @media (min-width: 960px) {
    width: 530px;
    padding-top: 88px;
    padding-bottom: 115px;
  }
}

.effect__title {
  width: 170px;

  @media (min-width: 960px) {
    width: 310px;
    font-size: 30px;
    line-height: 30px;
  }
}

.effect__text {
  @media (min-width: 960px) {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 12px;
  }
}

.effect__link {
  color: #d22856;
  font-size: 18px;
  line-height: 30px;
  text-decoration: underline;
}
