.effect {
  display: none;

  @media (min-width: 660px) {
    display: block;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
  }

  @media (min-width: 960px) {
    background-color: #f2f2f2;
  }
}

.effect__help {
  box-sizing: border-box;
  width: 620px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 95px;
  padding-left: 310px;
  position: relative;
  padding-bottom: 25px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/icon-timer.svg");
    width: 240px;
    height: 276px;
    left: 0;
    top: 55px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    content: "24";
    font-size: 95px;
    font-weight: 700;
    text-align: center;
    line-height: 198px;
    color: #d22856;
    background-image: url("../../img/icon-editor-diagram-fill.svg");
    width: 202px;
    height: 202px;
    left: 20px;
    top: 110px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media (min-width: 960px) {
    width: 940px;
    padding-top: 112px;
    padding-bottom: 110px;
    padding-left: 365px;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../../img/icon-timer.svg");
      width: 300px;
      height: 350px;
      left: 0;
      top: 15px;
      background-repeat: no-repeat;
    }

    &::after {
      position: absolute;
      content: "24";
      font-size: 120px;
      font-weight: 700;
      text-align: center;
      line-height: 240px;
      color: #d22856;
      background-image: url("../../img/icon-editor-diagram-fill.svg");
      width: 256px;
      height: 256px;
      left: 20px;
      top: 85px;
      background-repeat: no-repeat;
    }
  }
}

.effect__title {
  width: 168px;
  margin: 0;
  font-size: 30px;
  line-height: 36px;

  @media (min-width: 960px) {
    width: 310px;
    line-height: 30px;
  }
}

.effect__text {
  width: 296px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;

  @media (min-width: 960px) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 35px;
    width: 530px;
    margin-top: 22px;
  }
}

.effect__link {
  color: #d22856;
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;

  @media (min-width: 960px) {
    font-size: 18px;
    line-height: 30px;
  }
}
