.main-nav {
  color: #ffffff;
  background-color: #283645;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: 960px) {
    font-weight: 400;
    background-color: transparent;
    text-transform: none;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: 960px) {
    display: flex;
    width: 620px;
    justify-content: space-between;
  }
}

.main-nav__item a {
  text-decoration: none;
  color: #ffffff;

  &:hover,
  &:focus {
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.main-nav__item {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;

  @media (min-width: 960px) {
    padding: 0;
    border: none;
  }
}
