.name {
  background-color: #ffffff;
  border: none;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  align-self: center;
  @media (min-width: 660px) {
    order: 1;
    margin-left: 0;
    margin-right: 0;
  }
  @media (min-width: 960px) {
    padding-top: 15px;
    margin-right: 50px;
  }
}

.name__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
  flex-direction: column;
  @media (min-width: 660px) {
    flex-direction: row;
  }
}

.name__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.name__label {
  color: #d22856;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  align-self: flex-start;
  @media (min-width: 660px) {
    padding-left: 0;
    align-self: center;
  }
}

.name__input {
  font-size: 18px;
  line-height: 30px;
  width: 260px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  flex-grow: 1;
  @media (min-width: 660px) {
    width: 495px;
  }
  @media (min-width: 960px) {
    width: 315px;
  }
}
