.page-header {
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;

  width: auto;
  margin: 0;
  padding: 0;
  position: relative;

  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 260px;
  background-repeat: no-repeat;
  background-size: cover;

  &--index {
    background-size: contain;
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: auto 463px;

    &--index {
      background-size: auto 463px;
    }
  }

  @media (min-width: 660px) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center 254px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: auto 730px;

      &--index {
        background-size: auto 730px;
      }
    }
  }

  @media (min-width: 960px) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: auto 848px;

      &--index {
        background-size: auto 848px;
      }
    }
  }
}

.page-header__help-desktop {
  background-color: #283645;
  position: relative;

  @media (min-width: 960px) {
    display: flex;
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    background-color: transparent;
  }

  &--index::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    height: 286px;
    width: 258px;
    right: 19%;
    bottom: -395px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size: auto 286px;
    }

    @media (min-width: 660px) {
      height: 545px;
      width: 100%;
      max-width: 700px;
      background-image: url("../img/iphone-hand-tablet@1x.png");
      right: 3%;
      bottom: -620px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-size: auto 548px;
      }
    }

    @media (min-width: 960px) {
      height: 645px;
      width: 95%;
      max-width: 1050px;
      background-image: url("../img/iphone-hand-desktop@1x.png");
      right: 22px;
      bottom: -745px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-size: auto 645px;
      }
    }
  }
}

.page-header__help-menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 16px;
  padding-left: 18px;
  padding-right: 18px;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;

  background-color: transparent;


  @media (min-width: 660px) {
    padding-bottom: 30px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 960px) {
    padding: 0;
    border: none;
  }
}

.page-header__wrapper {
  @media (min-width: 960px) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.page-header__help-title {
  background-color: rgba(0, 0, 0, 0);

  @media (min-width: 960px) {
    display: block;
  }
}

.page-header__logo img {
  @media (min-width: 660px) {
    width: 147px;
    height: 40px;
  }
}

.page-header__logo {

  background-image: url("../img/logo-pink-white-mobile-pink.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 660px) {
    background-image: url("../img/logo-pink-blue-mobile-pink.svg");
  }

  @media (min-width: 960px) {
    background-image: url("../img/logo-pink-blue-desktop-pink.svg");
  }

  &:active {
    background-image: none;
  }

  &:hover picture,
  &:focus picture {
    opacity: 0;
  }

  &:active picture {
    opacity: 0.5;
  }
}

.page-header__title {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-transform: none;
  text-align: center;
  margin: 0 auto;
  width: 260px;

  &--form {
    padding-top: 32px;
    padding-right: 0;
    padding-bottom: 55px;
    padding-left: 0;

    @media (min-width: 660px) {
      padding-top: 70px;
      padding-bottom: 80px;
      font-size: 50px;
      line-height: 60px;
      width: 480px;
    }

    @media (min-width: 960px) {
      width: 750px;
      padding-top: 65px;
      padding-bottom: 100px;
    }
  }

  &--photo {
    padding-top: 32px;
    padding-right: 0;
    padding-bottom: 82px;
    padding-left: 0;


    @media (min-width: 660px) {
      padding-top: 70px;
      padding-bottom: 140px;
      font-size: 50px;
      line-height: 60px;
      width: 480px;
    }

    @media (min-width: 960px) {
      padding-top: 65px;
      padding-bottom: 95px;
    }
  }
}

.page-header__button {
  position: relative;
  border: 0;
  padding: 0;
  line-height: 0;
  font-size: 0;

  @media (min-width: 960px) {
    display: none;
  }

  &--close {
    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 10px;
      right: -2px;

      width: 32px;
      height: 4px;

      background-color: #ffffff;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
      background-color: #d22856;
    }

    &:active::before,
    &:active::after {
      opacify: 0.3;
    }
  }

  &--open {
    &::before {
      content: "";

      position: absolute;
      top: 5px;
      right: -2px;

      width: 36px;
      height: 2px;

      background-color: #ffffff;
      box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
      background-color: #d22856;
      box-shadow: 0 8px 0 0 #d22856, 0 16px 0 0 #d22856;
    }

    &:active::before,
    &:active::after {
      background-color: rgba(210, 40, 86, 0.3);
      box-shadow: 0 8px 0 0 rgba(210, 40, 86, 0.3), 0 16px 0 0 rgba(210, 40, 86, 0.3);
    }
  }
}
