.page-header {
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;

  width: auto;
  margin: 0;
  padding: 0;
  position: relative;

  background-color: #283645;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: 660px) {
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-position: bottom;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: 960px) {
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-position: top;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../../img/bg-back-desktop@2x.jpg");
    }
  }

  &--index::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/iphone-hand-mobile@1x.png");
    height: 286px;
    width: 320px;
    left: 0;
    bottom: 272px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../../img/iphone-hand-mobile@2x.jpg");
    }

    @media (min-width: 660px) {
      height: 545px;
      width: 700px;
      background-image: url("../../img/iphone-hand-tablet@1x.png");
      left: -20px;
      bottom: 0;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../../img/iphone-hand-tablet@2x.jpg");
      }
    }

    @media (min-width: 960px) {
      height: 645px;
      width: 1050px;
      background-image: url("../../img/iphone-hand-desktop@1x.png");
      left: 0;
      bottom: 0;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../../img/iphone-hand-desktop@2x.jpg");
      }
    }
  }
}

.page-header__help-desktop {
  background-color: #283645;
  position: relative;

  @media (min-width: 960px) {
    display: flex;
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    background-color: transparent;
  }
}

.page-header__help-menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 18px;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;

  background-color: transparent;

  @media (min-width: 660px) {
    padding-bottom: 38px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 960px) {
    padding: 0;
    border: none;
  }
}

.page-header__wrapper {
  @media (min-width: 960px) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.page-header__help-title {
  background-color: rgba(0, 0, 0, 0);

  @media (min-width: 960px) {
    display: block;
  }
}

.page-header__title {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-transform: none;
  text-align: center;
  margin: 0 auto;
  width: 260px;

  &--form {
    padding-top: 32px;
    padding-right: 0;
    padding-bottom: 55px;
    padding-left: 0;

    @media (min-width: 660px) {
      padding-top: 70px;
      padding-bottom: 80px;
      font-size: 50px;
      line-height: 60px;
      width: 480px;
    }

    @media (min-width: 960px) {
      width: 750px;
      padding-top: 65px;
      padding-bottom: 100px;
    }
  }

  &--photo {
    padding-top: 32px;
    padding-right: 0;
    padding-bottom: 82px;
    padding-left: 0;


    @media (min-width: 660px) {
      padding-top: 70px;
      padding-bottom: 140px;
      font-size: 50px;
      line-height: 60px;
      width: 480px;
    }

    @media (min-width: 960px) {
      padding-top: 65px;
      padding-bottom: 100px;
    }
  }
}

.page-header__button {
  border: 0;
  padding: 0;
  font-size: 0;
  width: 30px;
  height: 30px;
  background-image: url("../../img/icon-no.svg"); //как менять цвет? другие свг вставлять?
  background-repeat: no-repeat;
  background-color: transparent;
  margin-top: auto;
  margin-right: 20px;

  @media (min-width: 660px) {
    margin-right: 0;
  }

  @media (min-width: 960px) {
    display: none;
  }
}

.page-header__logo {
  background-repeat: no-repeat;
  width: 150px;
  height: 30px; //иконку текстом вставлять?
  @media (min-width: 660px) {
    background-image: url("../../img/logo-pink-white-tablet.svg"); //как менять цвет? другие свг вставлять?
    height: 45px;
  }

  @media (min-width: 960px) {
    background-image: url("../../img/logo-pink-white-desktop.svg");
  }
}
