.page-footer {
  background-color: #ffffff;
  padding: 20px 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 660px) {
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 90px;
  }

  @media (min-width: 960px) {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 75px;
  }

  &--photo {
    @media (min-width: 660px) {
      padding-top: 40px;
    }

    @media (min-width: 960px) {
      padding-top: 100px;
    }
  }

  &--index {
    display: none;

    @media (min-width: 660px) {
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      width: 660px;
      display: flex;
      padding-top: 40px;
    }

    @media (min-width: 960px) {
      width: 960px;
    }
  }
}

.page-footer__help {
  display: flex;
  align-self: center;
  align-items: center;

  &:hover path,
  &:focus path {
    fill: #283645;
  }

  &:active path {
    fill: #bec2c7;
  }
}

.page-footer__social {
  list-style: none;
  margin: auto;
  margin-bottom: 32px;
  padding: 0;
  width: 180px;
  display: flex;
  justify-content: space-between;

  @media (min-width: 660px) {
    margin-bottom: 0;
    margin-top: 0;
    align-self: center;
  }
}

.page-footer__link {
  width: 28px;
  height: 35px;
}

.page-footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 3px solid #e9ebec;
  border-radius: 50%;

  &:hover,
  &:focus {
    border: 3px solid #283645;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__text {
  @media (min-width: 660px) {
    font-size: 14px;
    line-height: 18px;
    padding-right: 20px;
  }
}

.page-footer__logo {
  background-repeat: no-repeat;
  width: 150px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;

  @media (min-width: 660px) {
    background-image: url("../../img/logo-pink-white-tablet.svg"); //как менять цвет? другие свг вставлять?
    margin: 0;
  }

  @media (min-width: 960px) {
    background-image: url("../../img/logo-pink-white-desktop.svg");
  }
}
