.platform {
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  padding: 0;
  width: 280px;

  @media (min-width: 660px) {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    width: 620px;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }

  @media (min-width: 960px) {
    padding-left: 70px;
    width: 305px;
    margin: 0;
  }
}

.platform__legend {
  color: #d22856;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 180px;
  padding-bottom: 38px;

  @media (min-width: 660px) {
    line-height: 30px;
    width: 368px;
    padding: 0;
  }
}

.platform__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 660px) {
    padding-top: 42px;
  }
}

.platform__item {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 45px;
  padding-left: 70px;

  @media (min-width: 660px) {
    padding-left: 120px;
  }
}

.platform__radio {
  display: none;
}
