.popup-error {
  background-color: #ffffff;
  line-height: 24px;
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 45px;
  margin-bottom: 50px;
}

.popup-error__title {
  margin: 0;
  padding: 0;
}

.popup-error__text {
  margin: 0;
  padding: 38px 0;
}
