.price {
  background-color: #f2f2f2;
  padding-top: 66px;
}

.price__list {
  @media (min-width: 660px) {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
  }
  @media (min-width: 960px) {
    width: 940px;
    padding-bottom: 98px;
  }
}

.price__name {
  background-color: #283645;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 24px 90px;
  width: 280px; //и тут не получается сделать фикс ширину
  &--empty {
    background-color: #f2f2f2;
    @media (max-width: 659px) {
      display: none;
    }
  }
  @media (min-width: 660px) {
    font-size: 14px;
    width: 155px; //почему не получается сделать фикс ширину?
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: 960px) {
    width: 235px;
    padding: 24px 65px;
  }
}

.price__tariff {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  @media (min-width: 660px) {
    font-size: 16px;
  }
  @media (min-width: 960px) {
    font-size: 18px;
  }
}

.price__line {
  background-color: #ffffff;
}

.price__field {
  @media (max-width: 659px) {
    display: none;
  }
  @media (min-width: 660px) {
    line-height: 30px;
    font-size: 14px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 155px;
  }
  @media (min-width: 960px) {
    font-size: 18px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 235px;
  }
}

.price__available {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 24px;
}

.price__comment {
  text-transform: uppercase;
  @media (min-width: 660px) {
    display: none;
  }
}

.price__button {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 46px;
  padding-top: 38px;
  @media (min-width: 660px) {
    display: none;
  }
}
