.reviews {
  background-color: #ffffff;
  color: #000000;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 48px;
  padding-bottom: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  @media (min-width: 660px) {
    order: 2;
  }
}

.reviews__notice {
  display: none;
  @media (min-width: 660px) {
    display: block;
    font-size: 14px;
    font-weight: 400;
  }
}

.reviews__description {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  width: 280px;
  margin-bottom: 35px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 660px) {
    order: 1;
    width: 620px;
  }
}

.reviews__button {
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 660px) {
    order: 3;
    margin-top: 38px;
  }
   @media (min-width: 960px) {
    display: none;
  }
}
