.reviews {
  background-color: #ffffff;
  color: #000000;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: 660px) {
    padding-top: 85px;
    padding-bottom: 20px;
  }

  @media (min-width: 960px) {
    padding-top: 50px;
    padding-bottom: 5px;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon-quotes.svg");
      width: 100px;
      height: 68px;
      left: 46%;
      top: 70px;
      background-repeat: no-repeat;
    }
  }
}

.reviews__help {
  text-align: center;
  display: flex;
  flex-direction: column;

  @media (min-width: 960px) {
    margin-top: 40px;
  }
}

.reviews__help--invisible {
  display: none;
}

.reviews__title {
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  margin: 0;

  @media (min-width: 660px) {
    order: 2;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: 960px) {
    font-size: 24px;
    line-height: 30px;
  }
}

.reviews__notice {
  display: none;

  @media (min-width: 660px) {
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
  }

  @media (min-width: 960px) {
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__description {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  width: 280px;
  margin-bottom: 35px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    order: 1;
    width: 620px;

    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: 960px) {
    margin-top: 95px;
    font-size: 18px;
    line-height: 30px;
    width: 700px;
  }
}

.reviews__buttons {
  display: none;

  @media (min-width: 960px) {
    display: flex;
    justify-content: space-between;
    width: 940px;
    position: relative;
    bottom: 160px;
    margin-left: auto;
    margin-right: auto;
  }
}

.reviews__button {
  font-size: 0;
  line-height: 0;
  width: 22px;
  height: 41px;
  border: none;

  &--left {
    background-image: url("../img/icon-review-arrow-left.svg");
  }

  &--right {
    background-image: url("../img/icon-review-arrow-right.svg");
  }
}
