.reviews {
  background-color: #ffffff;
  color: #000000;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: 660px) {
    padding-top: 110px;
    padding-bottom: 20px;
  }

  @media (min-width: 960px) {
    padding-top: 45px;
    padding-bottom: 50px;
  }

  ::before {
    position: absolute;
    content: "";
    background-image: url("../../img/icon-quotes.svg");
    width: 100px;
    height: 68px;
    left: 46%;
    top: 65px;
    background-repeat: no-repeat;
  }
}

.reviews__title {
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  margin: 0;

  @media (min-width: 660px) {
    order: 2;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: 960px) {
    font-size: 24px;
    line-height: 30px;
  }
}

.reviews__notice {
  display: none;

  @media (min-width: 660px) {
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
  }

  @media (min-width: 960px) {
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__description {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  width: 280px;
  margin-bottom: 35px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    order: 1;
    width: 620px;

    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: 960px) {
    margin-top: 135px;
    font-size: 18px;
    line-height: 30px;
    width: 700px;
  }
}
