.your-post {
  background-color: #f2f2f2;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    width: 620px;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: 960px) {
    width: 800px;
    padding-right: 60px;
    padding-left: 80px;
  }
}

.your-post__form {
  display: flex;
  flex-direction: column;

  @media (min-width: 660px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.your-post__photo {
  width: 280px;
  height: 375px;

  @media (min-width: 660px) {
    width: 302px;
    height: 400px;
  }
}

.your-post__setting {
  display: flex;
  flex-direction: column;
  justify-content: space-between; //почему не работает?
  @media (min-width: 660px) {
    width: 270px;
  }

  @media (min-width: 960px) {
    width: 415px;
  }
}

.your-post__icon-help {
  display: flex;
  flex-direction: row;
  width: 210px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    flex-direction: column;
  }
}

.your-post__icon {
  margin: 0;
  padding: 0;
  margin-top: 38px;
  width: 48px;
  height: 48px;
  font-size: 0;
  border: none;
  background-color: transparent;
  fill: #b5b9be;

  &:hover,
  &:focus {
    fill: #8d949b;
  }

  &:active {
    fill: #d22856;
  }
}

.your-post__button-help {
  display: flex;
  flex-direction: column;

  @media (min-width: 960px) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
  }
}

.your-post__button {
  width: 280px;
  font-weight: 700;
  box-sizing: border-box;
  text-align: center;
  border-radius: 40px;
  padding-top: 14px;
  padding-bottom: 14px;

  @media (min-width: 660px) {
    width: 260px;
  }

  @media (min-width: 960px) {
    width: 186px;
  }

  &--upload {
    color: #d22856;
    background-color: transparent;
    border: 3px solid #d22856;

    &:hover,
    &:focus {
      background-color: #d22856;
      color: #ffffff;
    }

    &:active {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &--cancel {
    color: #dfe0e2;
    background-color: transparent;
    border: 3px solid #dfe0e2;
    margin-top: 15px;

    &:hover,
    &:focus {
      border: 3px solid #b5b9be;
      color: #c4c6c8;
    }

    &:active {
      background-color: #b5b9be;
      color: rgba(255, 255, 255, 0.5);
    }

    @media (min-width: 660px) {
      margin-top: 25px;
    }

    @media (min-width: 960px) {
      margin-top: 0;
    }
  }
}

.your-post__line {
  width: 240px;
  height: 2px;
  background-color: #283645;
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.your-post__circle {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  background-color: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  left: 80px;
}
