.contact {
  background-color: #ffffff;
  border: none;
  margin: 0;
  padding: 0;
  margin: 20px 42px;
}

.contact__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact__label {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 30px;
  color: #d22856;
}
