body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', 'Arial', sans-serif;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@import "page-header.scss";
@import "download.scss";
@import "advantages.scss";
@import "reviews.scss";
@import "price.scss";
@import "page-footer.scss";
@import "page-main.scss";
@import "post.scss";
@import "page-footer-index.scss";
@import "name.scss";
@import "achievement.scss";
@import "contact.scss";
@import "platform.scss";
@import "feedback.scss";
@import "popup-error.scss";
@import "popup-complete.scss";
